<!DOCTYPE html>
<html>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Control</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
  <div class="page-container">
    <h1>Pen Plotter</h1><!--    {% for mesg in get_flashed_messages() %}
      <h1>{{ mesg }}</h1>
    {% endfor %}-->
    <!-- Control-Starts -->
    <div class="control-container" style="display: inline-block;">
      <form action="/homing/">
        <button class="homing-button" name="ResizeBtn" type="submit">Homing</button>
      </form>
      <form action="/reset_alarm/">
        <button class="reset-alarm-button" name="ResizeBtn" type="submit">Reset Alarm</button>
      </form>
      <form action="/Print/">
        <button class="print-button" name="ResizeBtn" type="submit">Print</button>
      </form>
      <form action="/servo_up/">
        <button class="servo_up-button" name="ResizeBtn" type="submit" id="servo_up-button">servo_up</button>
      </form>
      <form action="/servo_down/">
        <button class="servo_down-button" name="ResizeBtn" type="submit" id="servo_down-button">servo_down</button>
      </form>
    </div>
    <form method="post" enctype="multipart/form-data">
      <div>
        <input type="file" name="file1"> <select name="size_selector">
          <option value="small">
            Small
          </option>
          <option value="medium">
            Medium
          </option>
          <option value="large">
            Large
          </option>
        </select> <input type="submit" name="submit_button" accept = ".pdf" value="Upload Image">
      </div>
    </form>

    <form method="post" enctype="multipart/form-data">
        </select> <input type="submit" accept = ".pdf" name="submit_button" value="Upload PDF">
    </form>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
      {{ message }}
    </div>{% endfor %} 
    <script>


                        function alertFunction() {
                                alert("File has been Uploaded");
                        }
                        document.querySelector("#form").addEventListener("click", alertFunction);
    </script> <a href="/home/shubh/Pen_plotter_V2/my_flask/static/Image_Storage/Images/reformedresized_yellow-simple-flower-no-1-1640395.svg" download="" id="download-svg">Download</a> 
       <!--<a href="/upload">Draw Gcode File</a> -->
     <object id="squigglecam" data="https://msurguy.github.io/SquiggleCam/">
    </object> <!--            Control-Ends            -->
  </div>
  <script>
                $(document).ready(function () {
                        $('#myTab a').on('click', function (e) {
                                e.preventDefault()
                                $(this).tab('show')
                        });

                        $('#myTab a[href="#Control-tab-pane"]').tab('show');
                        $('#myTab a[href="#Resize-tab-pane"]').tab('disable');
                        $('#myTab a[href="#Gcode-Converter-tab-pane"]').tab('disable');
                });
  </script> 
  <script>


                $('.nav-tabs a').on('shown.bs.tab', function (event) {
                        var x = $(event.target).text();         // active tab
                        var y = $(event.relatedTarget).text();  // previous tab
                        $('.tab-pane .' + y.trim().toLowerCase() + '-buttons').hide();
                        $('.tab-pane .' + x.trim().toLowerCase() + '-buttons').show();
                });
  </script> 
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- <script src="static/js/progress-bar.js"></script> -->
   
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> 
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script> 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>