{% extends 'base.html' %}

{% block body %}
<div class="page-container">
	<h1>Pen Plotter</h1>

	<!-- Control-Starts -->
	<div class="control-container">
		<form action="/homing/">
			<button class="homing-button" name="ResizeBtn" type="submit">Homing</button>
		</form>
		<form action="/reset_alarm/">
			<button class="reset-alarm-button" name="ResizeBtn" type="submit">Reset Alarm</button>
		</form>
		<form action="/Print/">
			<button class="print-button" name="ResizeBtn" type="submit">Print</button>
		</form>
		<form action="/servo_up/">
			<button class="servo_up-button" name="ResizeBtn" type="submit" id="servo_up-button">servo_up</button>
		</form>
		<form action="/servo_down/">
			<button class="servo_down-button" name="ResizeBtn" type="submit" id="servo_down-button">servo_down</button>
		</form>
	</div>
	<form method="post" enctype="multipart/form-data">
		<div>
			<input type="file" name="file1"> 
			<select name="size_selector">
				<option value="small">
				Small
				</option>
				<option value="medium">
				Medium
				</option>
				<option value="large">
				Large
				</option>
			</select> 
			<input type="submit" name="submit_button" accept = ".pdf" value="Upload Image">
		</div>
	</form>

	<form method="post" enctype="multipart/form-data">
		<input type="file" name="file2">
		<input type="submit" accept = ".pdf" name="submit_button" value="Upload PDF">
	</form>
	{% for message in get_flashed_messages() %}
	<div class="alert alert-danger">
		{{ message }}
	</div>{% endfor %} 
</div>
{% endblock body %}
