{% extends 'base.html' %}

{% block body %}
<div class="page-container">
	<h1>Pen Plotter</h1>

	<!-- Control-Starts -->
	<div class="w-25 bg-secondary p-3 rounded">
		<form class="m-2 d-grid" action="/homing/">
			<button class="btn btn-primary btn-lg" name="ResizeBtn" type="button">Homing</button>
		</form>
		<form class="m-2 d-grid" action="/reset_alarm/">
			<button class="btn btn-primary btn-lg" name="ResizeBtn" type="button">Reset Alarm</button>
		</form>
		<form class="m-2 d-grid" action="/Print/">
			<button class="btn btn-primary btn-lg" name="ResizeBtn" type="button">Print</button>
		</form>
		<form class="m-2 d-grid" action="/servo_up/">
			<button class="btn btn-primary btn-lg" name="ResizeBtn" type="button" id="servo_up-button">servo_up</button>
		</form>
		<form class="m-2 d-grid" action="/servo_down/">
			<button class="btn btn-primary btn-lg" name="ResizeBtn" type="button" id="servo_down-button">servo_down</button>
		</form>
	</div>
	<form class="m-2" method="post" enctype="multipart/form-data">
		<div>
			<input type="file" name="file1"> 
			<select name="size_selector">
				<option value="small">
				Small
				</option>
				<option value="medium">
				Medium
				</option>
				<option value="large">
				Large
				</option>
			</select> 
			<input type="button" name="submit_button" accept = ".pdf" value="Upload Image">
		</div>
	</form>

	<form class="m-2" method="post" enctype="multipart/form-data">
		<input type="file" name="file2">
		<input type="button" accept = ".pdf" name="submit_button" value="Upload PDF">
	</form>
	{% for message in get_flashed_messages() %}
	<div class="alert alert-danger">
		{{ message }}
	</div>{% endfor %} 
</div>
{% endblock body %}
