{% extends 'base.html' %}

{% block body %}
<div class="page-container">
	<section class="w-100 row m-0" style="height: 70vh;">
		<div class="bg-black rounded markdown-body p-2 col-4" style="overflow: scroll;" id="markdown"></div>
		<canvas class="col-8" style="height: 70vh;"></canvas>
	</section>
	<!-- Control-Starts -->
	<section class="w-100 bg-secondary-subtle rounded row" style="height: 30vh;">
		<div class="col-4 align-middle p-0 px-3">
			<form class="m-2 d-grid" action="/homing/">
				<button class="btn btn-primary m-1" type="submit">Home Pen Plotter</button>
			</form>
			<form class="m-2 d-grid" action="/reset_alarm/">
				<button class="btn btn-warning" type="submit">Reset Alarm</button>
			</form>
			<form class="m-2 d-grid" action="/Print/">
				<button class="btn btn-success" type="submit">Print</button>
			</form>
			<form class="m-2 d-grid" action="/servo_up/">
				<button class="btn btn-primary m-1" type="submit" id="servo_up-button" >Servo Up</button>
			</form>
			<form class="m-2 d-grid" action="/servo_down/">
				<button class="btn btn-primary m-1" type="submit" id="servo_down-button">Servo Down</button>
			</form>
			<form class="m-2 d-grid" action="/emergency_stop/">
				<button class=" btn btn-danger" type="submit" id="emergency_stop">Emergency Stop</button>
			</form>
			<form class="m-2 d-grid" action="/paper_roller_on/">
				<button class="btn btn-primary m-1" type="submit" id="paper_roller_on">paper_roller_on</button>
			</form>
			<form class="m-2 d-grid" action="/paper_roller_off/">
				<button class="btn btn-primary m-1" type="submit" id="paper_roller_off">paper_roller_off</button>
			</form>
			
		</div>

		<div class="col-4">
			<form class="m-2" method="post" enctype="multipart/form-data">
				<div>
					<form>
						<strong>PNG FILE ONLY</strong>
						<br>
						<input type="file" id="inputfile"></input>
						<button type="button" id="sendInputFile">Upload Img</button>
					</form>
					<select id = "Size" name="size_selector">
						<option value="small">
						Small
						</option>
						<option value="medium">
						Medium
						</option>
						<option value="large">
						Large
						</option>
					</select> 
					<select name="design_selector" id="Design">
						<option value="normal">
							normal
						</option>
						<option value="spiral">
							spiral
						</option>
						<option value="diagonal">
							diagonal
						</option>
						<option value="line_sketch">
							line_sketch
						</option>
					</select>
				</div>
			</form>

			<form class="m-2" method="post" enctype="multipart/form-data">
				<strong>PDF FILE ONLY</strong>
				<br>
				<input type="file" name="file2">
				<input type="submit" accept = ".svg" name="submit_button" value="Upload PDF">
			</form>
			<form class="m-2" method="post" enctype="multipart/form-data">
				<a class="btn btn-primary m-1" href="http://10.1.57.15:8080/squiggly" style="background-color: #555; border: none;">squiggly</a>
				<br>
				<strong>SVG FILE ONLY</strong>
				<br>
				<input type="file" name="fileSvg">
				<input type="submit" accept = ".svg" name="submit_button" value="Upload SVG">
			</form>
			<form class="m-2" method="POST" enctype="multipart/form-data">
				<strong>Advance USER ONLY</strong>
				<br>
				<input name="text">
				<input type="submit" name="submit_button" value="Send Gcode">
			</form>
		</div>
		<div class="col-4">
			<div class="alert alert-danger">
				{% for message in get_flashed_messages() %}
				{{ message }}
				<br/>
				{% endfor %} 
			</div>
		</div>

	</section>
</div>
{% endblock body %}
