
  .page-container {
    text-align: center;
  }

  #Gcode{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
  }

  h1 {
    font-size: 36px;
    margin-top: 50px;
  }

  .control-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  form {
    margin: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
  }

  button:hover {
    cursor: pointer;
    background-color: #286090;
  }

  input[type="file"] {
    margin-top: 20px;
  }

  select {
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid #337ab7;
    border-radius: 5px;
  }

  input[type="submit"] {
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
  }

  input[type="submit"]:hover {
    cursor: pointer;
    background-color: #286090;
  }

#svg2gcode{
  height: 75vh; 
  width: 100%; 
  position: relative; 
  top: 20px; 
  left: 1px
}

#squigglecam {
  height: 100vh;
  width: 100%;
  position: relative; 
  top:20px;
  left: 1px;
}


 



 

